# Velora Frontend Environment Variables

# API Configuration
NEXT_PUBLIC_API_URL=https://api-velora.vercel.app

# ML API Configuration
NEXT_PUBLIC_ML_API_URL=https://dayattttt2444-maternal-health-risk.hf.space

# Development settings
NEXT_PUBLIC_ENV=development
